<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <script type="text/javascript" src="~/content/app.js"></script>
</head>
<body>
    <div id="app" class="container-fluid">
        @await RenderSectionAsync("topNav", false)
        <div class="container">
            @RenderBody()
        </div>
        @await RenderSectionAsync("footerNav", false)
    </div>
</body>
</html>